.App {
  text-align: center;
  background-image: url("./foodwastep.jpeg");
}

.logo {
  height: 25vmin;
  pointer-events: none;
  

}
.splash {
  
}
.thoughts {
  background-color: rgb(236, 217, 248);
}
.about {
  background-color: rgb(236, 217, 248);
}
